{% load i18n %}
{% block auth %}
{% load account %}
      <div id="sign" class="block">
        <div class="block-bot">
          <div class="block-cnt">
            <div class="cl">&nbsp;</div>
            	<div class="head">
            		<div class="head-cnt">
				<h3>{% trans "Sign In" %}</h3>
            		</div>
          		</div>

            {% block head_title %} {% endblock head_title %}
            {% block content %} 

				{% if user.is_authenticated %}
                    {%  include "account/logout.html" %}
                    <h1> You are authenticated </h1>
                {% else %}
                    {% include "account/login.html" %}
				{% endif %}
            {% endblock content %}
	        <div class="cl">&nbsp;</div>
          </div>
        </div>
      </div>

{% endblock auth %}
