			
			<div class="cl">&nbsp;</div>
				<!-- Footer -->
			<div id="footer">
				<div class="navs">
					<div class="navs-bot">
						<div class="cl">&nbsp;</div>
							<ul>
								<li> <a href="{%url news %}">Jeux de société</a> </li>
								<li><a href="{%url news %}">Jeux de carte</a></li>
								<li><a href="{%url news %}">Jeux de rôle</a> </li>
								<li><a href="{%url news %}">Wargames</a></li>
							</ul>
							<ul>
								<li class="home"><a href="{%url news %}">Home</a></li>
								<li><a href="{%url news %}">Mon compte</a></li>
								<li><a href="{%url news %}">Forum</a></li>
							</ul>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<p class="copy">&copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a></p>
				</div>
			<!-- / Footer -->
			</div>
		</div>
		<!-- / Main -->
	</div>
	<!-- / Page -->
	</body>
</html>